/**************************************
	header
***************************************/

header {
    display: block;
    width: 100%;
    background-color: #006ac3
}


/******************************
    header sp
*******************************/

@include media($mobileSize) {
	header {
	}
}